#
# For a description of the syntax of this configuration file,
# see Linux Documentation
#
#

config UBOOT_CONFIG_DRIVER_VBG400
	bool "VBG400"
	default y

config UBOOT_CONFIG_VBG400_DDR_8BIT
	bool "8Bit DDR RAM"
	default n

config UBOOT_CONFIG_VBG400_MAC_GMAC_INDEX
	int "GMAC Index 0/1"
	default 0

config UBOOT_CONFIG_VBG400_MAC_INTERFACE_MODE
	int "Interface mode: 0=mii_gmii, 1=rgmii, 2=rmii"
	default 1

config UBOOT_CONFIG_MAC_MODE_REVERSED
	int "compile for REVERSED MODE"
	default 0

config UBOOT_CONFIG_VBG400_CHIPIT
	bool "compile for CHIPIT"
	default n

config UBOOT_CONFIG_VBG400_EVB
	bool "compile for evaluation board"
	default n

config UBOOT_CONFIG_MAC_DIV_CLOCK
	int "select div clock for MAC, 1 for PLL2, 0 for other"
	default 0

config UBOOT_CONFIG_VBG400_PHY_ADDR_GMAC_0
	int "select PHY address for GMAC0"
	default 0

config UBOOT_CONFIG_VBG400_PHY_ADDR_GMAC_1
	int "select PHY address for GMAC1"
	default 5
