config samba
	option 'name'			'K3C'
	option 'workgroup'		'WORKGROUP'
	option 'description'		'K3C Samba '
	option 'homes'			'1'

config sambashare
	option 'name'			'Disc'
	option 'path'			'/mnt/usb/'
	option 'browseable'		'yes'
	option 'read_only'		'no'
	option 'enable'			'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'		'0777'
	option 'dir_mask'		'0777'
