<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
	<title>TODO supply a title</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
	
	.save{
		padding: 10px;
    background-color: #f3f0f6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    
   
    /* font-size: 20px; */
    text-decoration: none;
    cursor: pointer;
    border: none;
	}
	
	input[type=text]:disabled {
		    cursor: not-allowed;
    		font-weight: 500;
    		font-size: 16px;
    		background: rgba(255, 255, 255, 0.12);
	}
	</style>
<body>
	<div id="translation" class="hide">airtime</div>
	<div ng-controller="airTimeFairnessController" ng-cloak>

		<!--Breadscrumbs starts here -->
		<div class="row ltq_breadcrumbs">
			<div ng-repeat="breadcrumb in $root.breadcrumbs">
				<ng-switch on="$first">
					<div class="btn-group btn-breadcrumb1" ng-switch-when="true">
						<div class="ltq_brd_home">
							<a class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">
								<i class="fa fa-home"></i> {{breadcrumb.name}}
							</a>
						</div>
					</div>

					<div class="btn-group btn-breadcrumb" ng-switch-when="false">

						<span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true">                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>
						<span ng-if="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>
					</div>

				</ng-switch>
			</div>
		</div>
		<!--Breadscrumbs ends here -->
		<div class="subheader">
			<div>
				<img src="images/icons/diagnostictest-0.png" alt="image" class="iconDetails">
			</div>
			<div >
				<h4 ng-bind="'airtime.headername' | translate"></h4></div>
			<p ng-bind="'airtime.description' | translate"> </p>
		</div>
		
		<div ng-form name="myForm">
		<input type="hidden" ng-model="mainradioobject" id="mainradioobject" ng-init="mainradioobject='Device.WiFi.Radio.1'"/>
		<div class="panel">
			<div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/settings-1.png" alt="panel-icon"/></span><span ng-bind="'airtime.generalconfiguration' | translate"> </span></div>
			<div class="panel-body">

				<input type="checkbox" ng-true-value="'true'" class="hidden-dom-removal ng-pristine ng-untouched ng-valid" ng-false-value="'false'" id="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfEnabled" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfEnabled" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfEnabled" ng-change="textChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfEnabled&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfEnabled)">

				<label class="checkbox_left_align ng-binding" for="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfEnabled" ng-bind="
                                'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.Airtime Fairness Management' | translate
                            "></label>
    
				 <span class="error" ng-show=" myForm.DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfEnabled.$error.required" ng-bind="
                                'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.Airtime Fairness Management.$error.$required' | translate
                            " ></span>
				<div class="wrapperdiv" ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfEnabled=='true'">

					<div class="form-group no-padding-hr col-xs-12 col-lg-6 ">
						<div class="row">
							<label for="WaveAtfDistributionType" class=" control-label" ng-bind="
                        'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Distribution Type' | translate
                    "></label>

							<select class="dropdown-toggle form-control1" id="WaveAtfDistributionType" validation="false" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfDistributionType" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfDistributionType" ng-change="ddChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfDistributionType&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfDistributionType)">
								<option value="" class="form-control1">
									Select
								</option>
								<option class="form-control1" value="Static">Static</option>
								<option class="form-control1" value="Dynamic">Dynamic</option>
								<option class="form-control1" value="Disable">Disable</option>
							</select>
							<span class="error" ng-show="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfDistributionTyperesponsestatus" ng-bind="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfDistributionTypeval |translate
                        "></span>
						</div>
						<!-- row ends  here -->
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<div class="row">
							<label for="WaveAtfAlgoType" class=" control-label" ng-bind="
                        'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Algorithm Type' | translate
                    "></label>

							<select class="dropdown-toggle form-control1" id="WaveAtfAlgoType" validation="false" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfAlgoType" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType" ng-change="ddChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfAlgoType&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType)">
								<option value="" class="form-control1">
									Select
								</option>
								<option class="form-control1" value="Weighted">Weighted</option>
								<option class="form-control1" value="Global">Global</option>
							</select>
							<span class="error" ng-show="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfAlgoTyperesponsestatus" ng-bind="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfAlgoTypeval |translate
                        "></span>
						</div>
						<!-- row ends here -->
					</div>

			<div class="col-xs-12 col-md-12 no-padding-hr">
				<div class="row">
					
					<label for="WaveAtfInterval" class=" " ng-bind="
                            'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Interval (msecs)' | translate
                        "></label><input type="number" class="form-control string-to-number " id="WaveAtfInterval" placeholder="Please Enter the value" min="100" max="65535" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfInterval" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfInterval" ng-blur="textChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfInterval&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfInterval)"
                         required>
                         
                         <span class="error" ng-show=" myForm.DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfInterval.$error.required" ng-bind="
                            'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Interval (msecs) required' | translate
                        "></span>
                         
                         <span class="error" ng-show="  myForm.DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfInterval.$error.min"
                         ng-bind="
                            'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Interval (msecs) min' | translate
                        "></span>
							
						 <span class="error" ng-show=" myForm.DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfInterval.$error.max" ng-bind="
                            'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Interval (msecs) max' | translate
                        "></span>
					
                        
                  <span class="error" ng-show="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfIntervalresponsestatus" ng-bind="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfIntervalval |translate  
                        "></span>
					
				</div>
				
				<div class="row">
				<label for="WaveAtfFreeTime" class=" " ng-bind="
                            'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Free Time (msecs)' | translate
                        "></label>
					<input type="number" class="form-control string-to-number" id="WaveAtfFreeTime" placeholder="Please Enter the value" min="0" max="65535" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfFreeTime" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfFreeTime" ng-blur="textChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfFreeTime&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfFreeTime)" required>
					<span class="error" ng-show="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfFreeTimeresponsestatus" ng-bind="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfFreeTimeval |translate  
                        "></span>
                        
                    <span class="error" ng-show=" myForm.DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfFreeTime.$error.required" ng-bind="'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Free Time (msecs) required' | translate"></span>
                         
                         <span class="error" ng-show=" myForm.DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfFreeTime.$error.min" ng-bind="'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Free Time (msecs) min' | translate"></span>
							
						 <span class="error" ng-show=" myForm.DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfFreeTime.$error.max"
						 ng-bind="'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.ATM Free Time (msecs) max' | translate"></span>
				</div> <!-- row ends -->
				<div class="row" ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfEnabled=='true'&&DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType=='Weighted' || DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfEnabled=='true'&&DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType=='Global'">
					<input  type="checkbox" ng-disabled="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType=='Global'" ng-true-value="'true'" class="hidden-dom-removal" ng-false-value="'false'" id="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfVapEnabled" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfVapEnabled" ng-change="textChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfVapEnabled&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled)">
			<label class="checkbox_left_align " for="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfVapEnabled" ng-bind="
                                'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.VAP Level Airtime Fairness' | translate
                            "></label>
					&nbsp;&nbsp;&nbsp;
						<input  type="checkbox" ng-disabled="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType=='Global'" ng-true-value="'true'" class="hidden-dom-removal" ng-false-value="'false'" id="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfStationEnabled" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfStationEnabled" ng-change="textChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfStationEnabled&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled)">
            <label class="checkbox_left_align ng-binding" for="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfStationEnabled" ng-bind="
                                'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.Station Level Airtime fairness' | translate
                            "></label>  
				</div>
				
			</div>
				</div> <!-- wrapper ng-if -->
			</div> <!-- panel body -->
		</div> <!-- panel ends -->
		</div>
		
			<div class="" ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfEnabled=='true'">
			<div class="form-group no-padding-hr col-lg-12 col-xs-12"
			ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType=='Weighted' && 
			DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled=='true'">
			<div class="panel">
			<div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/settings-1.png" alt="panel-icon"/></span><span ng-bind="'airtime.vaplevelconfiguration' | translate"> VAP CONFIGURATION</span></div>
			<div class="panel-body">
			
<!--
			<input ng-init="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled=0" type="checkbox" ng-true-value="'1'" class="hidden-dom-removal" ng-false-value="'0'" id="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfVapEnabled" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfVapEnabled" ng-change="textChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfVapEnabled&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled)">
			<label class="checkbox_left_align " for="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfVapEnabled" ng-bind="
                                'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.VAP Level Airtime Fairness' | translate
                            ">VAP Level Airtime Fairness</label>
-->
                            
                    	<div  ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled=='true' && DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled=='false'">   
<!--                      vap single table-->
                      
                                                <table class="table table-bordered tableCount theme_intel">
       <thead>
       	   <tr >
      <th ng-bind="'airtime.ssid' | translate"></th>
      <th ng-bind="'airtime.weights' | translate"></th>
<!--     <td><button class="btn btn-info waves-effect waves-light" ng-click="rowform.$show();addVapSingleDoubleTableDetails()" >Add </button></td>-->
    </tr>
       </thead>
 
    <tr ng-repeat="singlevapdetail in singleVapTablearr">
<!--    {{singleVapTablearr}}-->
     <td ng-hide="true">
        <!-- editable username (text with validation) onbeforesave="checkName($data, user.id)" -->
        <span editable-text="singlevapdetail.id" e-disabled="true"  e-name="id" e-form="rowform"   e-required>
          {{ singlevapdetail.id  }}
        </span>
      </td>
      <td>
        <!-- editable username (text with validation) onbeforesave="checkName($data, user.id)" -->
        <span editable-text="singlevapdetail.ssid" e-disabled="true" e-name="ssid" e-form="rowform"   e-required>
          {{ singlevapdetail.ssid  }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-number="singlevapdetail.weight" onaftersave="validateVapWeightRequired($data)" e-name="weight" e-form="rowform" >
          {{singlevapdetail.weight }}
        </span>
      </td>
<!--
      <td>
         editable group (select-remote) 
        <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(user) }}
        </span>
      </td>
-->
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" shown="" onaftersave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" >
          <button type="submit" ng-disabled="rowform.$waiting" class="fa fa-check btn_color_grn save">
            
          </button>
<!--
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-info waves-effect waves-light">
            cancel
          </button>
-->
          
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="fa fa-edit btn_color_grn save" ng-click="rowform.$show()"></button>
<!--          <button class="btn btn-info waves-effect waves-light" ng-click="removeSingleVap($index)">del</button>-->
        </div>  
      </td>
    </tr>
  </table>

        
				</div> 
                       <div  ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled=='true' && DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled=='true'">   
<!--                       vap double table-->
                                                <table class="table table-bordered tableCount theme_intel">
       <thead>
       	<tr>
       		<th ng-bind="'airtime.ssid' | translate"></th>
       		<th ng-bind="'airtime.weights' | translate"></th>
       	</tr>
       </thead>
   
    <tr ng-repeat="singlevapdetail in singleVapTablearr">
<!--    {{singleVapTablearr}}-->
     <td ng-hide="true">
        <!-- editable username (text with validation) onbeforesave="checkName($data, user.id)" -->
        <span editable-text="singlevapdetail.id"   e-name="id" e-form="rowform"   e-required>
          {{ singlevapdetail.id  }}
        </span>
      </td>
      <td>
        <!-- editable username (text with validation) onbeforesave="checkName($data, user.id)" -->
        <span editable-text="singlevapdetail.ssid" e-disabled="true" e-name="ssid" e-form="rowform"   e-required>
          {{ singlevapdetail.ssid  }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-number="singlevapdetail.weight" onaftersave=validateVapWeightRequired($data) e-name="weight" e-form="rowform" >
          {{singlevapdetail.weight }}
        </span>
      </td>
<!--
      <td>
         editable group (select-remote) 
        <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(user) }}
        </span>
      </td>
-->
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform"  onaftersave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="">
          <button type="submit" ng-disabled="rowform.$waiting" class="fa fa-check btn_color_grn save">
            
          </button>
<!--
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-info waves-effect waves-light">
            cancel
          </button>
-->
          
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="fa fa-edit btn_color_grn save" ng-click="rowform.$show()"></button>
<!--          <button class="btn btn-info waves-effect waves-light" ng-click="removeSingleVap($index)">del</button>-->
        </div>  
      </td>
    </tr>
  </table>


				</div>                  
			</div> <!-- panel-body ends -->
			</div>

			</div> <!-- weighted dropdown ng-if ends -->
		</div>
				<!-- main checkbox ng-if -->
				
				
			<div class="" ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfEnabled=='true'">
			<div class="form-group no-padding-hr col-lg-12 col-xs-12"
			ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfAlgoType=='Weighted'
			
			&& DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled=='true'">
			<div class="panel">
			<div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/settings-1.png" alt="panel-icon"/></span><span ng-bind="'airtime.stationlevelconfiguration' | translate"></span></div>
			<div class="panel-body">
			
<!--
			<input ng-init="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled=0" type="checkbox" ng-true-value="'1'" class="hidden-dom-removal" ng-false-value="'0'" id="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfStationEnabled" ng-model="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled" name="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfStationEnabled" ng-change="textChange(&quot;DeviceWiFiRadio1X_LANTIQ_COM_Vendor__WaveAtfStationEnabled&quot;,DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled)">
            <label class="checkbox_left_align ng-binding" for="DeviceWiFiRadio1X_LANTIQ_COM_Vendor_WaveAtfStationEnabled" ng-bind="
                                'Device.WiFi.Radio.1.X_LANTIQ_COM_Vendor.Station Level Airtime fairness' | translate
                            ">Station Level Airtime fairness</label>               
-->
                    <div  ng-if=" DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled=='true' &&
                      DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled=='false'">   
<!--                       station single table-->
                       
                          <table class="table table-bordered tableCount theme_intel">
                          <thead>
                          	<tr>
      <th ng-bind="'airtime.mac' | translate"></th>
      <th ng-bind="'airtime.weights' | translate"></th>
      <th> <button class="btn btn-info waves-effect waves-light" ng-click="rowform.$show();addStationTableDetails()">Add</button></th>
     
    </tr>
                          </thead>
    
    <tr ng-repeat="singlemacdetail in tablearr">
      <td>
        <!-- editable username (text with validation) onbeforesave="checkName($data, user.id)" -->
        <span editable-text="singlemacdetail.stamac" onbeforesave="validateMacAddress($data)" e-name="stamac" e-form="rowform"   e-required>
          {{ singlemacdetail.stamac  }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-number="singlemacdetail.weight" onaftersave="validateStationRequired($data)" e-name="weight" e-form="rowform" >
          {{singlemacdetail.weight }}
        </span>
      </td>
<!--
      <td>
         editable group (select-remote) 
        <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(user) }}
        </span>
      </td>
-->
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" shown="" onaftersave="saveSingleStation($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
          <button type="submit" ng-disabled="rowform.$waiting" class="fa fa-check btn_color_grn save">
            
          </button>
<!--
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
-->
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn_color_grn fa fa-pencil-square-o save" ng-click="rowform.$show()"></button>
          <button class="fa fa-trash-o btn_color_red save" ng-click="removeSingleStation($index)"></button>
        </div>  
      </td>
    </tr>
  </table>

 
                       
				</div>
                        
                                       
                                                      
    <div  ng-if="DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfVapEnabled=='true' && DeviceWiFiRadio1X_LANTIQ_COM_Vendor.WaveAtfStationEnabled=='true'" >   
               
<!--                       station double table-->
                    <div class="row">
                    	<div class="col-xs-12 col-md-6">
                    		 <select 
    id="tablename" 
    ng-model="dropdowndata.selectedOption"  
    class="form-control"
    ng-change="callStationTableForDropdown(this)">
<option ng-repeat="x in SSIDlist" value="{{x.parent}}">{{x.ssid}}</option>
</select>
                    	</div>
                    </div>   

			
			
<table class="table table-bordered tableCount theme_intel ">
    <thead>
    <tr>
    	 <th ng-bind="'airtime.mac' | translate"></th>
      <th ng-bind="'airtime.weights' | translate"></th>
      <th><button class="btn btn-info waves-effect waves-light" ng-click="addtablearrforsatationdoubleDeatails()">Add</button></th>
    </tr>
     </thead>
     
     
    </tr>
    <tr ng-repeat="singlemacdetail in tablearrforsatationdoubletick">
      <td>
        <!-- editable username (text with validation) onbeforesave="checkName($data, user.id)" -->

        <span editable-text="singlemacdetail.stamac" onaftersave="validateMacAddress($data)" e-name="stamac" e-form="rowform"   e-required>
          {{ singlemacdetail.stamac  }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-text="singlemacdetail.weight" onaftersave="validateStationDoubleWeightRequired($data)" e-name="weight" e-form="rowform" >
          {{singlemacdetail.weight }}
        </span>
      </td>
<!--
      <td>
         editable group (select-remote) 
        <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(user) }}
        </span>
      </td>
-->
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" shown="" onaftersave="saveDoubleStation($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
          <button type="submit" ng-disabled="rowform.$waiting" class="fa fa-check btn_color_grn save">
            
          </button>
<!--
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
-->
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="fa fa-edit btn_color_grn save" ng-click="rowform.$show()"></button>
          <button class="fa fa-trash-o btn_color_red save" ng-click="removeStationDoubleTable($index)"></button>
        </div>  
      </td>
    </tr>
  </table>

  
			
			
			
				</div>                                                                                  
			</div> <!-- panel-body ends -->
			</div>

			</div> <!-- weighted dropdown ng-if ends -->
		</div> <!-- main wrapper ng-if ends -->



	<button style="float:right" class="btn btn-info waves-effect waves-light" ng-click="submit(myForm)">Apply</button>



	</div>
	<!-- controller ends -->
</body>

</html>