
config UBOOT_CONFIG_DRIVER_HN1
    bool
    default y

menu "CPU/DDR FREQUENCY"

choice 
    prompt "PLATFORM"
    default UBOOT_CONFIG_HNX100

config UBOOT_CONFIG_HNX100
    bool "HNX100"

config UBOOT_CONFIG_HNX200
    bool "HNX200(FUTURE USE)"

endchoice


choice 
    prompt "DDR TYPE SELECTION"
    default UBOOT_CONFIG_HN1_DDR2

config UBOOT_CONFIG_HN1_DDR1
    bool "DDR1"

config UBOOT_CONFIG_HN1_DDR2
    bool "DDR2"

endchoice

choice
    prompt "CPU AND RAM CONFIGURATION"
    default UBOOT_CONFIG_HN1_CPU_400M_RAM_200M

config UBOOT_CONFIG_HN1_CPU_200M_RAM_100M
    bool "200M/100M"
    depends on !UBOOT_CONFIG_HN1_DDR2    

config UBOOT_CONFIG_HN1_CPU_200M_RAM_200M
    bool "200M/200M"

config UBOOT_CONFIG_HN1_CPU_400M_RAM_200M
    bool "400M/200M"

endchoice

config UBOOT_CONFIG_ENABLE_POWER_MANAGEMENT
    bool "Enable power management(EXPERIMENTAL)"
	default n

config UBOOT_CONFIG_USE_DEFAULT_LOWPOWER_SETTING
    bool "USE DEFAULT LOWPOWER SETTING"
    default y
    depends on UBOOT_CONFIG_ENABLE_POWER_MANAGEMENT


config UBOOT_CONFIG_LOWPOWER_CONTROL
    hex 'LOWPOWER_CONTROL'
    default "0x14"
    depends on !UBOOT_CONFIG_USE_DEFAULT_LOWPOWER_SETTING
    depends on UBOOT_CONFIG_ENABLE_POWER_MANAGEMENT

config UBOOT_CONFIG_LOWPOWER_AUTO_ENABLE
    hex 'LOWERPOWER_AUTO_ENABLE'
    default "0x14"
    depends on !UBOOT_CONFIG_USE_DEFAULT_LOWPOWER_SETTING
    depends on UBOOT_CONFIG_ENABLE_POWER_MANAGEMENT

config UBOOT_CONFIG_LOWPOWER_POWER_DOWN_CNT
    hex 'LOWPOWER_POWER_DOWN_CNT'
    default "0x40"
    depends on !UBOOT_CONFIG_USE_DEFAULT_LOWPOWER_SETTING
    depends on UBOOT_CONFIG_ENABLE_POWER_MANAGEMENT

config UBOOT_CONFIG_LOWPOWER_SELF_REFRESH_CNT
    hex 'LOWPOWER_SELF_REFRESH_CNT'
    default "0x80"
    depends on !UBOOT_CONFIG_USE_DEFAULT_LOWPOWER_SETTING
    depends on UBOOT_CONFIG_ENABLE_POWER_MANAGEMENT

endmenu


menu "SWITCH OPTIONS"


config UBOOT_CONFIG_HN1_SW_PORT_1
    bool "USE PORT 1"
	default y

config UBOOT_CONFIG_HN1_SW_PORT1_GMII
    bool  
    depends on UBOOT_CONFIG_HN1_SW_PORT_1 && !UBOOT_CONFIG_HN1_SW_PORT_0b
    default y

config UBOOT_CONFIG_HN1_SW_PORT1_MIIRATE
   int
   depends on UBOOT_CONFIG_HN1_SW_PORT_1
   default 4
					 
config UBOOT_CONFIG_HN1_SW_PORT1_MIIMODE
    int
    depends on UBOOT_CONFIG_HN1_SW_PORT_1
    default 5 

config UBOOT_CONFIG_HN1_SW_PORT_0a
    bool "USE PORT 0a"
    default y
    depends on !UBOOT_CONFIG_HN1_SW_PORT_0b

choice
    prompt "INTERFACE"
    depends on UBOOT_CONFIG_HN1_SW_PORT_0a
    default UBOOT_CONFIG_HN1_SW_PORT0a_RGMII

config UBOOT_CONFIG_HN1_SW_PORT0a_RGMII
    bool "RGMII"
endchoice

config UBOOT_CONFIG_HN1_SW_PORT0a_MIIMODE
    int
    depends on UBOOT_CONFIG_HN1_SW_PORT_0a
    default 4

config UBOOT_CONFIG_HN1_SW_PORT0a_MIIRATE
    int
    depends on UBOOT_CONFIG_HN1_SW_PORT_0a
    default 4
			
config UBOOT_CONFIG_HN1_SW_PORT_0b
    bool "USE PORT 0b"
    default n
    
choice
    prompt "INTERFACE"
    depends on UBOOT_CONFIG_HN1_SW_PORT_0b
    default UBOOT_CONFIG_HN1_SW_PORT0b_MII

config UBOOT_CONFIG_HN1_SW_PORT0b_MII
    bool "MII"

endchoice       

config UBOOT_CONFIG_HN1_SW_PORT0b_MIIMODE
    int
    depends on UBOOT_CONFIG_HN1_SW_PORT_0b
    default 5

config UBOOT_CONFIG_HN1_SW_PORT0b_MIIRATE
    int
    depends on UBOOT_CONFIG_HN1_SW_PORT_0b
    default 4

config UBOOT_CONFIG_HN1_GPHY_FW_EMBEDDED
    bool "gphy firmware embedded"
    default y

config UBOOT_CONFIG_HN1_GPHY_FW_ADDR
    hex 'gphy firmware address'
    default "0xa0110000" if ( UBOOT_CONFIG_BOOT_FROM_SPI )
    default "0xa0120000" if ( UBOOT_CONFIG_BOOT_FROM_NAND )
    depends on UBOOT_CONFIG_HN1_SW_PORT_0b || UBOOT_CONFIG_HN1_SW_PORT_1
    depends on UBOOT_CONFIG_HN1_GPHY_FW_EMBEDDED

config UBOOT_CONFIG_HN1_EXTERN_GPHY_FW_ADDR
    hex "gphy firmware address"
    default "0xa0110000"
    depends on !UBOOT_CONFIG_HN1_GPHY_FW_EMBEDDED

config UBOOT_CONFIG_HN1_GPHY_DEBUG
    bool "DEBUG GPHY"
    default y
    depends on !UBOOT_CONFIG_NAND_FLASH
	
endmenu

config UBOOT_CONFIG_TUNE_DDR
    bool "DDR tuning support"
    default y

config UBOOT_CONFIG_DDR_TUNING_TEXT_BASE
    hex 
    default "0x9f280000"
    depends on UBOOT_CONFIG_TUNE_DDR

config UBOOT_CONFIG_ENABLE_CORE_DCDC
    bool "ENABLE CORE DCDC"
    default n

config UBOOT_CONFIG_ENABLE_DDR_DCDC
    bool "ENABLE DDR DCDC"
    default n

config UBOOT_CONFIG_POWER_DOWN_REGULATOR
    bool "POWER DOWN 2.5V REGULATOR"
    default n

config UBOOT_CONFIG_DEBUG
    bool "VERBOSE"
    default n

config UBOOT_CONFIG_FASTER_UART
    bool "USE 25x FASTER UART"
    default n
	
config UBOOT_CONFIG_USE_TANTOS_SWITCH
    bool "Use TANTOS chip as external switch connected to HNX over RGMII"
    default y
	
