
config LANTIQ_UBOOT_danube
	bool
	default y
	depends on ( TARGET_ltqcpe_danube || TARGET_ltqcpe_platform_danube || TARGET_lantiq_danube )

config LANTIQ_UBOOT_amazon_se
    bool
	default y
	depends on ( TARGET_ltqcpe_amazon_se || TARGET_ltqcpe_platform_amazon_se || TARGET_lantiq_ase )
			
config LANTIQ_UBOOT_ar9
    bool
    default y
    depends on ( TARGET_ltqcpe_ar9 || TARGET_ltqcpe_platform_ar9 || TARGET_lantiq_ar9 )

config LANTIQ_UBOOT_vr9
    bool
	default y
	depends on ( TARGET_ltqcpe_vr9 || TARGET_ltqcpe_platform_vr9 || TARGET_lantiq_xrx200 )
			
config LANTIQ_UBOOT_ar10
    bool
	default y
	depends on ( TARGET_ltqcpe_ar10 || TARGET_ltqcpe_platform_ar10 || TARGET_lantiq_xrx300 )
			
config LANTIQ_UBOOT_grx390
    bool
    default y
    select LANTIQ_UBOOT_ar10
	depends on ( TARGET_ltqcpe_platform_ar10_GRX390 || TARGET_lantiq_xrx330 )

config LANTIQ_UBOOT_hn1
    bool
    default y
    depends on ( TARGET_ltqcpe_hn1 || TARGET_ltqcpe_platform_hn1 || TARGET_lantiq_hn1 )
			
config LANTIQ_UBOOT_vbg400
    bool
    default y
    depends on ( TARGET_ltqcpe_platform_vbg400 )

config LANTIQ_UBOOT_grx500
    bool
    default y
    depends on ( TARGET_lantiq_xrx500 || TARGET_lantiq_xrx500_4kec || TARGET_intel_xway_xrx500 || TARGET_intel_xway_xrx500_4kec )


source package/feeds/ltq_feeds_uboot/open_uboot/config/scripts_platform/Kconfig
